{% extends 'base.html' %}


{% block content%}

		{% include 'course/snippets/course_top.html'%}
		<div class="row">
			<div class="col m4">
				<h5 class="left-align">Listas</h5>
				<hr>
				<ul class="collection">
					{% for list in course.list.all|slice:":5" %}
						<li class="collection-item avatar">
							<img src="/media/{{list.user.profile.image}}" class="circle">
							<span class="title"> {{list.name}}</span><br>
							<p class="usuario-data">{{list.user.username}} • {{list.date|date:"d/m/Y"}}</p> 


							<div class="open-list">
								<a href="/media/{{list.file}}" class="secondary-content">
									<i class="material-icons icone-rosa">file_download</i>
								</a>								
							</div>
							{% if list.user.id == user.id %}
							<div class="exclude-list vanish">
								<a href="/lists/{{list.id}}/remove" class="secondary-content">
									<i class="material-icons icone-rosa">delete_forever</i>
								</a>
							</div>
							{% else %}
							<div class="exclude-list vanish">
								<a href="" class="secondary-content">
									<i class="material-icons gray">delete_forever</i>
								</a>
							</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>

				<a href="#" id="excluir-lists" class="btn-flat left">excluir</a>
				<a href="#" id="voltar-lists" class="vanish btn-flat left">voltar</a>
				<a href="{% url 'lists_see_more' course.id %}" class="right btn-flat">ver mais</a>
				<a href="#modal-list" class="right btn-flat modal-trigger">enviar</a>
				<!-- Modal form lista  -->
				<div id="modal-list" class="modal">
					<form method="post" enctype="multipart/form-data">{% csrf_token %}
						<div class="modal-content">
							<h5>Enviar uma nova lista</h5>
							<hr>
							<div class="row form-edit">
								<div class="col s12 offset-m1 m5">
									<div class="input-field">
										{{listForm.name}}
										<label for="name-list">Título</label>
									</div>	
								</div>
								<div class="col s12 m5 input-field">
									{{listForm.teacher}}
								</div>
							</div>
							<div class="row">
								<div class="col s12 m10 offset-m1 input-field">
									{{listForm.tags}}
									<label for="tags-list">Tags (separadas por virgulas)</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m10 offset-m1">					
									<label for='id_file' class="card teal white-text waves-effect waves-light">
										<div style=" cursor: default;">
											<span>Selecionar Arquivo</span>
											<div style="display: none;">
												{{listForm.file}}
											</div>
										</div>
									</label>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn-flat waves-effect waves-light" type="submit" name="add_list">Enviar
								<i class="material-icons right">send</i>
							</button>
						</div>
					</form>
				</div>       	
			</div>

			<div class="col m4">
				<h5>Links</h5>
				<hr>
				<ul class="collection">
					{% for link in course.link.all|slice:":5" %}
					<li class="collection-item avatar">
						<img src="/media/{{link.user.profile.image}}" class="circle">
						<span class="title">{{link.name}}</span><br>
						<p class="usuario-data">{{link.user.username}} • {{link.date|date:"d/m/Y"}}</p> 

						<div class="open-link">
							<a target="_blank" href="{{link.link}}" class="secondary-content"><i class="material-icons icone-rosa">open_in_new</i>
							</a>
						</div>
						{% if link.user.id == user.id %}
						<div class="exclude-link vanish">
							<a href="/links/{{link.id}}/remove" class="secondary-content">
								<i class="material-icons icone-rosa">delete_forever</i>
							</a>
						</div>
						{% else %}
						<div class="exclude-link vanish">
							<a href="#" class="secondary-content">
								<i class="material-icons gray">delete_forever</i>
							</a>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				<a href="#" id="excluir-links" class="btn-flat left">excluir</a>
				<a href="#" id="voltar-links" class="vanish btn-flat left">voltar</a>
				<a href="{% url 'links_see_more' course.id %}" class="right btn-flat">ver mais</a>
				<a href="#modal-link" class="right btn-flat modal-trigger">enviar</a>

				<div id="modal-link" class="modal">
					<form method="post" class="">{% csrf_token %}
						<div class="modal-content">
							<h5>Enviar um link</h5>
							<hr>
							<div class="row form-edit">
								<div class="col s12 offset-m1 m5">
									<div class="input-field">
										{{linkForm.name}}
										<label for="name-link">Título</label>
									</div>
								</div>
								<div class="col s12 m5 input-field">
									{{linkForm.teacher}}
									<label for="teacher-link">Professor</label>
								</div>
							</div>
							<div class="row">
								<div class="col s12 m10 offset-m1 input-field">
									{{linkForm.tags}}
									<label for="tags-link">Tags (separadas por virgulas)</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m10 offset-m1">
									{{linkForm.link}}
									<label for="link">Link</label>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn-flat waves-effect waves-light" type="submit" name="add_link">Enviar
								<i class="material-icons right">send</i>
							</button>
						</div>
					</form>
				</div>
			</div>


			<div class="col m4">
				<h5>Resumos</h5>
				<hr>
				<ul class="collection">
					{% for summary in course.summary.all|slice:":5" %}
						<li class="collection-item avatar">
							<img src="/media/{{summary.user.profile.image}}" class="circle">
							<span class="title">{{summary.name}}</span><br>
							<p class="usuario-data">{{summary.user.username}} • {{summary.date|date:"d/m/Y"}}</p> 
							<div class="open-summary">
								<a href="/media/{{summary.file}}" class="secondary-content"><i class="material-icons icone-rosa">file_download</i></a>
								</a>
							</div>
							{% if summary.user.id == user.id %}
							<div class="exclude-summary vanish">
								<a href="/summaries/{{summary.id}}/remove" class="secondary-content">
									<i class="material-icons icone-rosa">delete_forever</i>
								</a>
							</div>
							{% else %}
							<div class="exclude-link vanish">
								<a href="#" class="secondary-content">
									<i class="material-icons gray">delete_forever</i>
								</a>
							</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>

				<a href="#" id="excluir-summaries" class="btn-flat left">excluir</a>
				<a href="#" id="voltar-summaries" class="vanish btn-flat left">voltar</a>
				<a href="{% url 'summaries_see_more' course.id %}" class="right btn-flat">ver mais</a>
				<a href="#modal-summary" class="right btn-flat modal-trigger">enviar</a>

				<div id="modal-summary" class="modal">
					<form method="post" class="" enctype="multipart/form-data"> {% csrf_token %}
						<div class="modal-content">
							<h5>Enviar um resumo</h5>
							<hr>
							<div class="row form-edit">
								<div class="col s12 offset-m1 m5">
									<div class="input-field">
										{{summaryForm.name}}
										<label for="name-summary">Título</label>
									</div>
									
								</div>
								<div class="col s12 m5 input-field">
									{{summaryForm.teacher}}
								</div>
							</div>
							<div class="row">
								<div class="col s12 m10 offset-m1 input-field">
									{{summaryForm.tags}}
									<label for="tags-summary">Tags (separadas por virgulas)</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m10 offset-m1">					
									<label for='id_file' class="card teal white-text waves-effect waves-light">
										<div style=" cursor: default;">
											<span>Selecionar Arquivo</span>
											<div style="display: none;">
													{{summaryForm.file}}
											</div>
										</div>
									</label>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn-flat waves-effect waves-light" type="submit" name="add_summary">Enviar
								<i class="material-icons right">send</i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<h5>Fórum</h5>
				<hr>
				<ul class="collection">
					{% for post in course.post.all|slice:":5" %}
						<a href="/course/{{course.id}}/forum/{{post.id}}">
							<li class="collection-item avatar">
								<img src="/media/{{post.user.profile.image}}" class="circle">
								<span class="title">{{post.title}}</span>
								<p>{{post.text}}</p>
								<i class="material-icons icone-rosa secondary-content">arrow_forward</i>
							</li>
						</a>
					{% endfor %}
				</ul>
				<a href="forum" class="right btn-flat">ver mais</a>
				<a href="#modal-post" class="right btn-flat modal-trigger">Novo Post</a>
				<div id="modal-post" class="modal" >
					<form method="post" class="" enctype="multipart/form-data"> {% csrf_token %} 
						<div class="modal-content">
							<h5>Enviar um Post</h5>
							<hr>
							<div class="row form-edit">
								<div class="col s12 offset-m1 m5">
									<div class="input-field">
										{{postForm.title}}
										<label for="title-post">Título</label>
									</div>				  					
								</div>
							</div>
							<div class="row">
								<div class="col s12 m10 offset-m1 input-field">
									{{postForm.tags}}
									<label for="tags-post">Tags (separadas por virgulas)</label>
								</div>
							</div>

							<div class="row">
								<div class="col s12 m10 offset-m1 input-field">
									  {{postForm.text}}
									  <label for="content-post">Conteúdo</label>
								</div>
							</div>
							<div class="row">
								<div class="input-field col s12 m10 offset-m1">					
									<label for='id_file' class="card teal white-text waves-effect waves-light">
										<div style=" cursor: default;">
											<span>Selecionar Arquivo</span>
											<div style="display: none;">
													{{postForm.document}}
											</div>
										</div>
									</label>
									<div class="file-path-wrapper">
										<input class="file-path validate" type="text">
									</div>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button class="btn-flat waves-effect waves-light" type="submit" name="add_post">Enviar
								<i class="material-icons right">send</i>
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
{% endblock %}