{% extends 'base.html' %}


{% block content%}

		{% include 'course/snippets/course_top.html'%}
		<div class="row">
			<div class="col m4">
				<h5 class="left-align">Listas</h5>
				<hr>
				{% if course.list.all|length > 0 %}
				<ul class="collection">
					{% for list in course.list.all|slice:":5" %}
						<li class="collection-item avatar">
							<img src="/media/{{list.user.profile.image}}" class="circle">
							<span class="title"> {{list.name}}</span><br>
							<p class="usuario-data">{{list.user.username}} • {{list.date|date:"d/m/Y"}}</p> 


							<div class="open-list">
								<a href="/media/{{list.file}}" class="secondary-content">
									<i class="material-icons icone-rosa">file_download</i>
								</a>								
							</div>
							{% if list.user.id == user.id %}
							<div class="exclude-list vanish">
								<a href="/lists/{{list.id}}/remove" class="secondary-content">
									<i class="material-icons icone-rosa">delete_forever</i>
								</a>
							</div>
							{% else %}
							<div class="exclude-list vanish">
								<a href="" class="secondary-content">
									<i class="material-icons gray">delete_forever</i>
								</a>
							</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				{% else %}
					<h6 class="center">Não possui nenhuma lista</h6>
				{% endif %}

				<a href="#" id="excluir-lists" class="btn-flat left">excluir</a>
				<a href="#" id="voltar-lists" class="vanish btn-flat left">voltar</a>
				<a href="{% url 'lists_see_more' course.id %}" class="right btn-flat">ver mais</a>
				<a href="#modal-list" class="right btn-flat modal-trigger">enviar</a>

				{% include 'course/snippets/modal_new_list.html'%}				       	
			</div>

			<div class="col m4">
				<h5>Links</h5>
				<hr>
				{% if course.link.all|length > 0 %}
				<ul class="collection">
					{% for link in course.link.all|slice:":5" %}
					<li class="collection-item avatar">
						<a href="{% url 'view_profile' link.user.profile.id %}"><img src="/media/{{link.user.profile.image}}" class="circle"></a>
						<span class="title">{{link.name}}</span><br>
						<p class="usuario-data">{{link.user.username}} • {{link.date|date:"d/m/Y"}}</p> 

						<div class="open-link">
							<a target="_blank" href="{{link.link}}" class="secondary-content"><i class="material-icons icone-rosa">open_in_new</i>
							</a>
						</div>
						{% if link.user.id == user.id %}
						<div class="exclude-link vanish">
							<a href="/links/{{link.id}}/remove" class="secondary-content">
								<i class="material-icons icone-rosa">delete_forever</i>
							</a>
						</div>
						{% else %}
						<div class="exclude-link vanish">
							<a href="#" class="secondary-content">
								<i class="material-icons gray">delete_forever</i>
							</a>
						</div>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
				{% else %}
					<h6 class="center">Não possui nenhum link</h6>
				{% endif %}

				<a href="#" id="excluir-links" class="btn-flat left">excluir</a>
				<a href="#" id="voltar-links" class="vanish btn-flat left">voltar</a>
				<a href="{% url 'links_see_more' course.id %}" class="right btn-flat">ver mais</a>
				<a href="#modal-link" class="right btn-flat modal-trigger">enviar</a>

				{% include 'course/snippets/modal_new_link.html'%}
			</div>

			<div class="col m4">
				<h5>Resumos</h5>
				<hr>
				{% if course.link.all|length > 0 %}
				<ul class="collection">
					{% for summary in course.summary.all|slice:":5" %}
						<li class="collection-item avatar">
							<img src="/media/{{summary.user.profile.image}}" class="circle">
							<span class="title">{{summary.name}}</span><br>
							<p class="usuario-data">{{summary.user.username}} • {{summary.date|date:"d/m/Y"}}</p> 
							<div class="open-summary">
								<a href="/media/{{summary.file}}" class="secondary-content"><i class="material-icons icone-rosa">file_download</i></a>
								</a>
							</div>
							{% if summary.user.id == user.id %}
							<div class="exclude-summary vanish">
								<a href="/summaries/{{summary.id}}/remove" class="secondary-content">
									<i class="material-icons icone-rosa">delete_forever</i>
								</a>
							</div>
							{% else %}
							<div class="exclude-summary vanish">
								<a href="#" class="secondary-content">
									<i class="material-icons gray">delete_forever</i>
								</a>
							</div>
							{% endif %}
						</li>
					{% endfor %}
				</ul>
				{% else %}
					<h6 class="center">Não possui nenhum resumo</h6>
				{% endif %}


				<a href="#" id="excluir-summaries" class="btn-flat left">excluir</a>
				<a href="#" id="voltar-summaries" class="vanish btn-flat left">voltar</a>
				<a href="{% url 'summaries_see_more' course.id %}" class="right btn-flat">ver mais</a>
				<a href="#modal-summary" class="right btn-flat modal-trigger">enviar</a>

				{% include 'course/snippets/modal_new_summary.html'%}
			</div>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<h5>Fórum</h5>
				<hr>
				{% if course.post.all|length > 0%}
				<ul class="collection post-single">
					{% for post in course.post.all|slice:":5" %}
						<a href="/course/{{course.id}}/forum/{{post.id}}">
							<li class="collection-item avatar">
								<img src="/media/{{post.user.profile.image}}" class="circle">
								<span class="title">{{post.title}}</span>
								<p>{{post.text|slice:":50" }}...</p>
								<i class="material-icons icone-rosa secondary-content">arrow_forward</i>
							</li>
						</a>
					{% endfor %}
				</ul>
				{% else %}
				<h6 class="center">Nenhum post no fórum dessa disciplina</h6>
				{% endif %}
				<a href="forum" class="right btn-flat">ver mais</a>
				<a href="#modal-post" class="right btn-flat modal-trigger">Novo Post</a>
				
				{% include 'course/snippets/modal_new_post.html'%}
			</div>
		</div>
{% endblock %}