{% extends 'base.html' %}

{% block content %}

{% include 'course/snippets/course_top.html'%}

<div class="row">
	<div class="col m4">
		<h5 class="left subtittle">Links</h5>
	</div>
	<div class="col m5 offset-m3">
		<form class="" action="{% url 'links_see_more' course.id%}" method="get">
			<div class="input-field">
				<input id="search-links" class="disable-active" type="search" name="q" required>
				<label for="textarea1" class=""><i class="material-icons">search</i></label>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col m12">
	<hr>
	<ul class="collection">
		{% for link in links %}
			<li class="collection-item avatar">
				<img src="/media/{{link.user.profile.image}}" class="circle">
				<span class="title">{{link.name}}</span><br>
				<p class="usuario-data">{{link.user.username}} • {{link.date|date:"d/m/Y"}}</p> 

				<div class="open-link">
					<a target="_blank" href="{{link.link}}" class="secondary-content"><i class="material-icons icone-rosa">open_in_new</i></a>
				</div>
				{% if link.user.id == user.id %}
					<div class="exclude-link vanish">
					<a href="/links/{{link.id}}/remove" class="secondary-content">
					<i class="material-icons icone-rosa">delete_forever</i></a>
						</div>
						{% else %}
						<div class="exclude-link vanish">
							<a href="#" class="secondary-content">
								<i class="material-icons gray">delete_forever</i>
							</a>
						</div>
						{% endif %}
					</li>
		{% endfor %}
	</ul>

	<a href="#" id="excluir-links" class="btn-flat left">excluir</a>
	<a href="#" id="voltar-links" class="vanish btn-flat left">voltar</a>
	<a href="#modal-link" class="right btn-flat modal-trigger">enviar</a>

	{% include 'course/snippets/modal_new_link.html'%}

	</div>
</div>

{% endblock %}