{% extends 'base.html' %}

{% block content %}
	<div id="edit_btn">
		{% with url_name=request.resolver_match.url_name %}
		{% if url_name == "course_details" %}
			<h4> {{course.name}} - {{course.code}} </h4>
			
			<h5>Links</h5>
			{% for link in course.link.all %}
				<a href="/links/{{link.id}}"><h6>{{link}}</h6></a>
			{% endfor %}

			<h5>Lists</h5>
			{% for list in course.list.all %}
				<a href="/lists/{{list.id}}"><h6>{{list}}</h6></a>
			{% endfor %}

			<h5>Summaries</h5>
			{% for summary in course.summary.all %}
				<a href="/summaries/{{summary.id}}"><h6>{{summary}}</h6></a>
			{% endfor %}
			<a href="edit/"> <button class="btn right btn-default">Edit</button> </a>
			<a href="remove/"> <button class="btn right btn-default">Remove</button> </a>
		
		{%  elif url_name == "link_detail"%}
			<h4>Nome: {{link.name}}</h4>
			<h5>Descrição: {{link.description}}</h5>
			<a href="{{link.link}}"><h6> Link: {{link.link}} </h6></a>
			<h6>{{link.teacher}}</h6>
			{% if link.tags.name %}
				<h6>{{link.tags.name}}</h6>
			{% endif %}
			<h6>{{link.course}}</h6>
			<a href="/links/{{link.id}}/edit/"> <button class="btn right btn-default">Edit</button> </a>
			<a href="/links/{{link.id}}/remove/"> <button class="btn right btn-default">Remove</button> </a>
		
		{%  elif url_name == "list_detail"%}
			<h4>Nome: {{list.name}}</h4>
			<a href="/media/{{list.file}}"><h6> List: {{list.file}} </h6></a>
			<h6>{{list.teacher}}</h6>
			{% if list.tags.name %}
				<h6>{{list.tags.name}}</h6>
			{% endif %}
			<h6>{{list.course}}</h6>
			<a href="/lists/{{list.id}}/edit/"> <button class="btn right btn-default">Edit</button> </a>
			<a href="/lists/{{list.id}}/remove/"> <button class="btn right btn-default">Remove</button> </a>
		
		{%  elif url_name == "summary_detail"%}
			<h4>Nome: {{summary.name}}</h4>
			<a href="/media/{{summary.file}}"><h6> Summary: {{summary.file}} </h6></a>
			<h6>{{summary.teacher}}</h6>
			{% if summary.tags.name %}
				<h6>{{summary.tags.name}}</h6>
			{% endif %}
			<h6>{{summary.course}}</h6>
			<a href="/summaries/{{summary.id}}/edit/"> <button class="btn right btn-default">Edit</button> </a>
			<a href="/summaries/{{summary.id}}/remove/"> <button class="btn right btn-default">Remove</button> </a>
		{% endif %}
		{% endwith %}

	</div>
{% endblock %}