{% extends 'base.html' %}

{% block content %}
<div class="container">

	<div class="row topo">
			<div class="col m9">
				<h3>{{course.name}}</h3>
				<h6>{{course.code}}</h6>
			</div>
		</div>

	<h5>Fórum</h5>
	<hr>

	<div class="row">
		<div class="col m12 list_forum">
			<ul class="collection">
				{% for post in posts %}
				<li class="collection-item avatar list_forum">
					<img src="/media/{{post.user.profile.image}}" class="circle collection-img">
					<span class="title">{{post.title}}</span> <br>
					<p class="usuario-data">{{post.user.username}} • {{post.date}}</p> 
					<div class="comentario-icon">
						<i class="tiny material-icons">mode_comment</i>
						<p>{{post.comment.all|length}} Comentários</p>		
					</div>
					
					<a href="{{post.id}}" class="secondary-content"><i class="material-icons icone-rosa">
					arrow_forward</i></a>
				</li>
				{% endfor %}
			</ul>
		</div>
		<a href="#modal-post" class="right btn-flat modal-trigger">Novo Post</a>
	</div>

	{% include 'course/snippets/modal_new_post.html'%}	

</div>

{% endblock %}
