{% extends 'base.html' %}

{% block content %}
	<div class="single_forum">
		<div class="row">
			<div class="col m12 post">
				<img src="/media/{{user.profile.image}}" class="circle collection-img">
				<p class="usuario-data">{{post.user.username}}</p>
				<p class="usuario-data"> • {{post.date}}</p>

				<h4>{{post.title}}</h4>

				<p>{{post.text}}</p>

				{{post.file}}
			</div>

			<div class="comentario-icon">
				<i class="tiny material-icons">mode_comment</i>
				<p>{{post.comment.all|length}} Comentários</p>
			</div>
			<hr>

			{% for comment in comments %}
				<div class="row">
					<div class="col m11 offset-m1 comentario">
						<img src="/media/{{comment.user.profile.image}}" class="circle collection-img">
						<p class="usuario-data">{{comment.user.username}}</p>
						<p class="usuario-data"> • {{comment.date}}</p>
						<p>{{comment.text}}</p>
					</div>
				</div>
			{% endfor %}				
		</div>
		<div class="row">
			<div class="col m11 offset-m1 comentario">
				<form method="post" class="" enctype="multipart/form-data"> {% csrf_token %}
					<div class="row">
        				<div class="input-field col s12">
							{{form.text}}
          					<label for="novo-comentario">Comentário</label>
        				</div>
        				<div class="row">
        					<div class="col s4 offset-s8 m2 offset-m10">        						
								<button class="btn-flat waves-effect waves-light" type="submit" name="add_comment">Enviar
								    <i class="material-icons right">send</i>
								</button>
        					</div>
        				</div>
      				</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}