{% extends 'base.html' %}


{% block content %}
<div class="container">
		<div class="row conteudo">
			<div class="col m8">
				<div class="row" style="margin-right: 10px">
					<h5>Atividade recente</h5>
					<hr>

					<ul class="collection">
						{% for activity in activities %}
						<li class="collection-item avatar">
							<img src="https://www.famousbirthdays.com/headshots/ethan-klein-3.jpg" class="circle">
							<span class="title">{{ activity.user.username }} fez um envio para {{ activity.course.name }}</span>
							{# <p>O texto vem aqui</p> #}
							<a href="{%url 'course_details' activity.course.id%}" class="secondary-content"><i class="material-icons icone-rosa">arrow_forward</i></a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
			<div class="col m4">
				<!-- <div class="row">
					<h5>Conquistas recentes</h5>
					<hr>
					<div class="collection">
						<!-- <h5 class="collection-header">Disciplinas</h5> 
						<a href="#" class="collection-item" style="color: #374955">Disciplina A</a>
						<a href="#" class="collection-item" style="color: #374955">Disciplina A</a>
						<a href="#" class="collection-item" style="color: #374955">Disciplina A</a>
						<a href="#" class="collection-item" style="color: #374955">Disciplina A</a>
						<a href="#" class="collection-item" style="color: #374955">Disciplina A</a>
					</div>
				</div> -->
				<div class="row">
					<h5>Suas disciplinas</h5>
					<hr>
					<div class="collection">
						{% for course in courses %}
						<a href="{%url 'course_details' course.id%}" class="collection-item" style="color: #374955">{{course.name}}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
</div>
{% endblock %}
