{% extends 'course/base.html' %}

{% block content %}
<form method="post">{% csrf_token %}
	<div id="formsnew" class="form-group">
		<h2> Course </h2>
		{% for field in form %}
			<label>{{field.label_tag}}</label>
			{{field}}
		{% endfor %}
		
		{% with url_name=request.resolver_match.url_name %}
		{% if url_name == 'course_new' %}
			<button class="btn right save btn-default" type="submit">Save</button>
		{% elif url_name == 'course_edit' %}
			<button class="btn right save btn-default" type="submit">Update</button>
		{% endif %}
	{% endwith %}
	</div>
</form>
{% endblock %}
