{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data"> {% csrf_token %}
	<div id="formsnew" class="form-group">
	{% with url_name=request.resolver_match.url_name %}
		{{url_name}}
		{% if url_name == 'course_edit' %}
			<a class="btn left" href="/link_add/">Add Link</a>
			<a class="btn left" href="/list_add/">Add List</a>
			<a class="btn left" href="/summary_add/">Add Summary</a>
		{% endif %}
		{% for field in form %}
			<label>{{field.label_tag}}</label>
			{{field}}
		{% endfor %}
		<button class="btn right save btn-default" type="submit">Save</button>
	{% endwith %}
		
	</div>
</form>
{% endblock %}
