{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
	<!-- <div class="row">
		<form method="post">
			{% csrf_token %}
			{{form.username.label_tag}}
			
			{{ form.password }}
			<button type="submit">Login</button>
		</form>
	</div> -->
	<div class="row">
		
    	<form class="col s10 offset-s1 m6 offset-m3 xl4 offset-xl4" method="post">
    		{% csrf_token %}
			<div class="topo">
				<div class="row">
					<h5 class="center-align">Bem vindo ao Sid :)</h5>
				</div>
      			<div class="row">
        			<div class="input-field col s12 {%if form.non_field_errors %} erou {% endif %}">
          				{{ form.username }}
          				<label for="id_username">Nome de Usuário</label>	                 
        			</div>
        		</div>
        		<div class="row">
        			<div class="input-field col s12 {%if form.errors %} erou {% endif %}">
        				{{form.password}}
          				<label for="id_password">Senha</label>
                  {% if form.errors %}
                    <span class="helper-text" data-error=
                    {% for error in form.non_field_errors %}
                      "{{ error }}"
                    {% endfor %}
                  ></span>
                  {% endif %}
                  {{form.password.errors}}
        			</div>
        		</div>
        		<div class="row">
        			<div class="col s12">
        				<button style="width:100%" class="btn-flat waves-effect waves-light" type="submit" name="action">
        					Entrar
  						</button>
        			</div>
        		</div>
            <div class="row center">
              <div class="col s12" onClick="var dualScreenLeft = window.screenLeft != undefined ? window.screenLeft : window.screenX; var dualScreenTop = window.screenTop != undefined ? window.screenTop : window.screenY; var width = window.innerWidth ? window.innerWidth : document.documentElement.clientWidth ? document.documentElement.clientWidth : screen.width; var height = window.innerHeight ? window.innerHeight : document.documentElement.clientHeight ? document.documentElement.clientHeight : screen.height; var left = ((width / 2) - (600 / 2)) + dualScreenLeft; var top = ((height / 2) - (800 / 2)) + dualScreenTop; var newWindow = window.open('{% url 'google_login' %}', 'Login', 'scrollbars=yes, width=' + 600 + ', height=' + 800 + ', top=' + top + ', left=' + left); if (window.focus) { newWindow.focus(); } return false;">
                <div id="customBtn" class="customGPlusSignIn">
                  <span class="icon"></span>
                  <span class="buttonText">Google</span>
                </div>
              </div>
            </div>
        		<div class="divider"></div>
        		<div class="row">
        			<div class="col s12">
	        			<p class="center">Não possui conta? Cadastre-se <a href="{% url 'signup' %}">aqui</a></p>
        		</div>	
        		</div>
      		</div>	
    	</form>	
	</div>

{% endblock %}
