{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

		<!-- TO DO -->
		<div class="row topo">
			<div class="col m9">
				<h3>{{profile.user.username}}</h3>
				<h6>{{profile.bio}}</h6>
			</div>
			<div class="col m3">
				<img src="/media/{{profile.image}}" class="circle right">
			</div>
		

			<a href="#modal-list" class="right btn-flat modal-trigger">Editar Perfil</a>
				<!-- Modal form lista  -->
			<div id="modal-list" class="modal">
			  	<form method="post" enctype="multipart/form-data">{% csrf_token %}
			  		<div class="modal-content">
			  			<h5>Editar Perfil</h5>
			  			<hr>
			  			<div class="row">
							<div class="input-field col s12 m10 offset-m1">
								{{form.university}}
								<label for="id_university">Universidade</label>
							</div>
			  			</div>
			  			<div class="row">
							<div class="input-field col s12 m10 offset-m1">
								{{form.bio}}
								<label for="id_bio">Bio</label>
							</div>
			  			</div>
			  			<div class="row">
							<div class="input-field col s12 m10 offset-m1">
								{{form.birth_date}}
								<label for="id_university">Data de Nascimento</label>
							</div>
			  			</div>
			  			<div class="row">
								<div class="input-field col s12 m10 offset-m1">
									{{form.image}}
								</div>
				  		</div>
			  		</div>
			  		<div class="modal-footer">
			  			<button class="btn-flat waves-effect waves-light modal-close" type="submit" name="add_list">Enviar
					    	<i class="material-icons right">send</i>
						</button>
			  		</div>
			  	</form>
			</div>
		</div>

		<!--<div class="">
			<h5 class="left-align">Conquistas</h5>
			<hr>
			<div class="row conquistas-bar">
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle preto-branco"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle preto-branco"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle preto-branco"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle preto-branco"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle preto-branco"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
				<div class="col m1 conquista-img"><img src="https://i.pinimg.com/originals/d4/48/b1/d448b1a9e555ff80dd93479cf61f3013.jpg" class="circle"></div>
			</div>
		</div>-->

		<div class="row">
			<div class="col m12">
				<h5 class='left-align'>Atividade recente</h5>
					<hr>
					<ul class="collection">
						{% for activity in activities %}
						<li class="collection-item avatar">
							<img src="/media/{{activity.obj.user.profile.image}}" class="circle">
							<span class="title">{{ activity.obj.user.username }} enviou {{activity.tipo}} para {{ activity.obj.course.name }}: {{activity.obj.name}}</span>
							{# <p>O texto vem aqui</p> #}
							<a href="{%url 'course_details' activity.obj.course.id%}" class="secondary-content"><i class="material-icons icone-rosa">arrow_forward</i></a>
						</li>
						{% endfor %}
					</ul>
			</div>
		</div>

{% endblock %}