{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}

		<!-- TO DO -->
		<div class="row topo">
			<div class="col m9">
				{% if profile.user.id == request.user.id %}
				<h3>{{profile.user.username}} <a href="#modal-list" class="btn modal-trigger red draken-1">Editar Perfil</a></h3>
				{% else %}
				<h3>{{profile.user.username}}</h3>
				{% endif %}
				<h6>{{profile.bio}}</h6>
			</div>
			<div class="col m3">
				<img src="/media/{{profile.image}}" class="circle right responsive-img">
			</div>
		

			<!-- Modal form lista  -->
			<div id="modal-list" class="modal">
			  	<form method="post" enctype="multipart/form-data">{% csrf_token %}
			  		<div class="modal-content">
			  			<h5>Editar Perfil</h5>
			  			<hr>
			  			<div class="row">
							<div class="input-field col s12 m10 offset-m1">
								{{form.university}}
								<label for="id_university">Universidade</label>
							</div>
			  			</div>
			  			<div class="row">
							<div class="input-field col s12 m10 offset-m1">
								{{form.bio}}
								<label for="id_bio">Bio</label>
							</div>
			  			</div>
			  			<div class="row">
							<div class="input-field col s12 m10 offset-m1">
								{{form.birth_date}}
								<label for="id_university">Data de Nascimento</label>
							</div>
			  			</div>
			  			<div class="row">
								<div class="input-field col s12 m10 offset-m1">
									{{form.image}}
								</div>
				  		</div>
			  		</div>
			  		<div class="modal-footer">
			  			<button class="btn-flat waves-effect waves-light" type="submit" name="add_list">Enviar
					    	<i class="material-icons right">send</i>
						</button>
			  		</div>
			  	</form>
			</div>
		</div>

		<div class="row">
			<div class="col m12">
				<h5 class='left-align'>Atividade recente</h5>
					<hr>
					{% if activities|length > 0 %}
					<ul class="collection">
						{% for activity in activities %}
						<li class="collection-item avatar item-list" onclick="location.href='{%url 'course_details' activity.obj.course.id%}'">
							<img src="/media/{{activity.obj.user.profile.image}}" class="circle">
							<span class="title">{{ activity.obj.user.username }} enviou {{activity.tipo}} para {{ activity.obj.course.name }}: {{activity.obj.name}}</span>
							{# <p>O texto vem aqui</p> #}
							<a href="{%url 'course_details' activity.obj.course.id%}" class="secondary-content"><i class="material-icons icone-rosa">arrow_forward</i></a>
						</li>
						{% endfor %}
					</ul>
					{% else %}
					<h6 class="center">Usuário não possui nenhuma atividade recente</h6>
					{% endif %}
			</div>
		</div>

{% endblock %}