{% extends 'base.html' %}

{% block content %}
  <div class="row">
  	
      <form class="col s10 offset-s1 m6 offset-m3" method="post" enctype="multipart/form-data">
  		{{ form.non_field_errors }}
    	{% for field in form %}
    	{{field.error}}
    	{% endfor %}
    	{% csrf_token %}
			<div class="topo">
				<div class="row">
					<h5 class="center-align">Bem vindo ao Sid :)</h5>
				</div>
        <!-- Nome  primeiro -->
      			<div class="row">
        			<div class="input-field col s6">
        				{{form.first_name}}
          				<label for="id_first_name">Primeiro Nome</label>	
        			</div>
        		
        <!-- Nome  Segundo -->
              <div class="input-field col s6">
              	{{form.last_name}}
                  <label for="id_last_name">Último Nome</label> 
              </div>
            </div>
        <!-- Nome de usuario -->
            <div class="row">
              <div class="input-field col s12">
                  {{form.username}}
                  <label for="id_username">Nome de Usuário</label> 
              </div>
            </div>
        <!-- email -->
            <div class="row">
              <div class="input-field col s12">
                  {{form.email}}
                  <label for="id_email">Email</label> 
              </div>
            </div>
        <!-- data nasc -->
            <div class="row">
              <div class="input-field col s12">
                  {{form.birth_date}}
                  <label for="birthdate">Data de Nascimento</label>
              </div>
            </div>
        <!-- universidade   -->
            <div class="row">
              <div class="input-field col s12">
                  {{form.university}}
                  <label for="id_university">Universidade</label> 
              </div>
            </div>
        <!-- Bio -->  
            <div class="row">
              <div class="input-field col s12">
                  <!-- <textarea id="bio" type="text" class="validate materialize-textarea"></textarea> -->
                  {{form.bio}}
                  <label for="id_bio">Bio</label>
              </div>
            </div>
        <!-- Foto -->
        <!-- senha -->
        		<div class="row">
        			<div class="input-field col s6">
        				{{form.password1}}
          				<label for="id_password">Senha</label>
        			</div>
        <!-- senha confirm -->
              <div class="input-field col s6">
				  {{form.password2}}
                  <label for="id_password2">Confirme sua senha</label>
              </div>
            </div>
        		<div class="row">
        			<div class="col s12">
        				<button style="width:100%" class="btn-flat waves-effect waves-light" type="submit" name="action">
        					Cadastrar
  						</button>
        			</div>
        		</div>
        		<div class="divider"></div>
        		<div class="row">
        			<div class="col s12">
	        			<p class="center">Já possui uma conta? Entre <a href="{% url 'login'%}">aqui</a></p>
        		</div>	
        		</div>
      		</div>	
    	</form>	
	</div>


{% endblock %}
